body{
    background-color: #264653;
    text-align: center;
    font-family: 'Dangrek', cursive;
}

header{
    margin: 25px 0;
}

header span{
    font-size: 50px;
    font-weight: 400;
    margin-right: 10px;
}

.x-header{
    color: #35BAAA;
}

.o-header{
    color: #fdca47;
}

h1{
    font-size: 42px;
}

/* botões */

#buttons-container button{
    font-size: 15px;
    border-radius: 10px;
    width: 400px;
    height: 60px;
    border: none;
    padding: 10px 15px;
    margin: 8px 10px;
}

.two-players{
    background-color: #fdca47;
    box-shadow: 0 7px 0 #d89c05;
}

#ai-player{
    background-color: #35BAAA;
    box-shadow: 0 7px 0 #068677;
}
/* jogo */

#container{
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;

}

.box{
    background-color: #1f3641;
    border-radius: 15px;
    border: none;
    height: 100px;
    border: 5px solid #264653;
    box-shadow: inset 0 -5px 0 #0f191e;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1, #block-2, #block-3{
    border-top: none;
}

#block-1, #block-4, #block-7 {
    border-left: none;
}

#block-7, #block-8, #block-9 {
    border-bottom: none;
}

#block-3, #block-6, #block-9 {
    border-right: none;
}

/* simbolos */

.x{
    font-size: 65px;
    color: #35BAAA;
    display: inline-block;
    line-height: 100px;
}

.o{
    font-size: 65px;
    color: #35BAAA;
    display: inline-block;
    line-height: 100px;
}

/* classe de esconder */

.hide{
    display: none !important;
}

/* placar */

#scoreboard-container{
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin: 0 auto;
}

.score-box{
    margin: 0 20px;
}

#x-scoreboard{
    font-weight: 400;
    color: #1a2a33;
}

#o-scoreboard{
    font-weight: 400;
    color: #1a2a33;
}

/* mensagem vitoria */

#message p {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    font-size: 50px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    /* display: none; */
}

#scoreboard-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score-box{
    margin-bottom: 5px;
    width: 120px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    display: grid;
}

.score-box:nth-child(1){
    background-color: #35BAAA;
}

.score-box:nth-child(2){
    background-color: #fdca47;
}

.score-box > span{
    
    color: #1a2a33;
}